# define the path to the .ssh folder
$sshFolderPath = "$HOME\.ssh"

# ensure the .ssh folder exists
if (-Not (Test-Path -Path $sshFolderPath)) {
    New-Item -ItemType Directory -Path $sshFolderPath
}

{{- template "op-pem-windows-keys" . }}
