# define the path to the .ssh folder
$sshFolderPath = "$HOME\.ssh"

# ensure the .ssh folder exists
if (-Not (Test-Path -Path $sshFolderPath)) {
    New-Item -ItemType Directory -Path $sshFolderPath
}

{{- range (onepassword "Active PEMs" "personal" "my").fields }}
{{-      if (eq .type "REFERENCE") }}

# read the PEM name and private key from 1Password
$pemName = "{{ onepasswordRead (printf "op://Private/%s/title" .value) "my" }}"
$pemPrivateKey = "{{ trimAll "`" (onepasswordRead (printf "op://Private/%s/notes" .value) "my") }}"

# create the private key file
$privateKeyFilePath = "$sshFolderPath\$pemName"
Write-Output "Creating private key file: `"$privateKeyFilePath`"..."
Set-Content -Path $privateKeyFilePath -Value $pemPrivateKey -Force

{{-      end -}}
{{- end }}
