#!/data/data/com.termux/files/usr/bin/bash
set -euo pipefail

# define and prepare the .ssh folder
sshFolder="$HOME/.ssh"
mkdir -p "$sshFolder"
chmod 700 "$sshFolder"

# TODO: Try to find a way to use 1Password authentication to fetch SSH keys directly!

{{- $deviceName := .deviceName -}}

{{- warnf "[android-ssh-keys] fetching Device: %s..." $deviceName -}}
{{- $deviceNotes := "" -}}
{{- range (onepassword (printf "Device: %s" $deviceName) "personal" "my").fields -}}
  {{- if and (eq .label "notesPlain") (hasKey . "value") -}}
    {{- $deviceNotes = .value -}}
  {{- end -}}
{{- end -}}
{{- range splitList "\n" $deviceNotes }}
  {{- $entry := . | trim -}}
  {{- if ne $entry "" }}

    {{- $type := index (split ":" $entry) "_0" -}}
    {{- $name := trimPrefix (printf "%s:" $type) $entry -}}

    {{- if eq $type "ssh" -}}
      {{- $item := onepassword $name "Private" "my" -}}
      {{- $sshName := $item.title | trim -}}
      {{- warnf "[android-ssh-keys] creating keys for \"%s\"" $sshName -}}

      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- if hasKey . "value" -}}
          {{- $_ := set $f .label .value -}}
        {{- end -}}
      {{- end -}}
      {{- $sshPrivateKey := index $f "private key" | trim }}
      {{- $sshPublicKey := index $f "public key" | trim }}

      sshKeyPath="$sshFolder/{{ $sshName }}"

      echo "[android-ssh-keys] creating private key: $sshKeyPath" >&2
      cat << 'EOF' > "$sshKeyPath"
{{ $sshPrivateKey }}
EOF
      chmod 600 "$sshKeyPath"

      echo "[android-ssh-keys] creating public key: $sshKeyPath.pub" >&2
      cat << 'EOF' > "$sshKeyPath.pub"
{{ $sshPublicKey }}
EOF
      chmod 644 "$sshKeyPath.pub"
    {{- end -}}
  {{- end -}}
{{- end }}
