#!{{ lookPath "bash" }}

# init storage capabilities
termux-setup-storage

# update the package list
apt update

# =========================================================================================================
# Requirements for this repository to work properly
requirements=(
    "git"
    "curl"
    "zip"               # required for SDKMan
    "unzip"             # required for SDKMan
    "age"               # required for Chezmoi (decrypt files with SSH)
    "eza"               # it's for "ls" highlighting (https://github.com/eza-community/eza)
    "sqlite"            # it's for managing ZSH history (https://github.com/larkery/zsh-histdb)
    "vim"               # needed for some operations
    "neovim"            # preferred editor
    "binutils-is-llvm"  # required by Azure CLI
    "bison"             # needed for GVM
    "make"              # required for many things and GVM
    "wget"              # required by 1Password CLI
    "zsh"               # preferred shell
    "ncurses-utils"     # needed for many packages (like GVM)
)
apt install --no-install-recommends --yes "${requirements[@]}"
# =========================================================================================================
# Hardware
hardware=(
    "htop"          # it's for monitoring system resources
    "screenfetch"   # it's for displaying system information
)
apt install --no-install-recommends --yes "${hardware[@]}"
# =========================================================================================================
# Utilities
utilities=(
    #"imagemagick"       # it's for image manipulation (convert, identify, etc.) TODO: better to use on Windows?
    "jq"                # it's for parsing JSON
    "bat"               # it's for cat with syntax highlighting (https://github.com/sharkdp/bat)
    "silversearcher-ag" # it's for searching files (https://github.com/ggreer/the_silver_searcher)
    "inotify-tools"     # it's for watching file changes ("inotifywait")
    "dos2unix"          # it's for converting text files between Unix and DOS formats
    "expect"            # it's for automating interactive applications (used in some scripts)
    #"aria2c"            # cURL alternative with many features (TODO: not found on Termux default repositories)
    "which"             # it performs command lookups
    "mlocate"           # it performs file searches (locate and updatedb)
)
apt install --no-install-recommends --yes "${utilities[@]}"
# =========================================================================================================
# Languages
languages=(
    "golang"        # needed for GVM to compile other GoLang versions
    "rust"          # needed to compile Azure CLI
    #"python"        # needed for Azure CLI (not working/broken via Pyenv, just native package manager)
    #"python-pip"    # needed for Azure CLI (not working/broken via Pyenv, just native package manager)
)
apt install --no-install-recommends --yes "${languages[@]}"
# =========================================================================================================
# =========================================================================================================
# https://ohmyz.sh/#install
install_oh_my_zsh() {
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
}

# https://github.com/moovweb/gvm?tab=readme-ov-file
install_gvm() {
    gvmRoot="$HOME/.gvm"

    bash < <(curl -s -S -L https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)

    source "$gvmRoot/scripts/gvm"
    gvm install go1.24.4
    gvm use go1.24.4
}

# https://terragrunt.gruntwork.io/docs/getting-started/install/
install_terragrunt() {
    binPath=/data/data/com.termux/files/usr/bin

    curl -LO https://github.com/gruntwork-io/terragrunt/releases/download/v0.76.6/terragrunt_linux_amd64
    mv terragrunt_linux_amd64 $binPath/terragrunt
    chmod +x $binPath/terragrunt
}

# https://sdkman.io/install/
install_sdkman() {
    curl -s "https://get.sdkman.io" | bash

    source "$HOME/.sdkman/bin/sdkman-init.sh"
    sdk install java
    sdk install gradle
}

# https://github.com/nvm-sh/nvm?tab=readme-ov-file#install--update-script
install_nvm() {
    nvmRoot="$HOME/.nvm"

    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.2/install.sh | bash

    unset PREFIX
    source "$nvmRoot/nvm.sh"
    nvm install --lts
    npm install -g corepack
    corepack enable
}

# https://pypi.org/project/azure-cli/
install_azure_cli() {
    pip install --upgrade pip
    pip install azure-cli
}

# https://1password.com/downloads/command-line/
install_1password_cli() {
    binPath=/data/data/com.termux/files/usr/bin

    if [ ! -f "$binPath/op" ]; then
        ARCH="arm64"
        wget "https://cache.agilebits.com/dist/1P/op2/pkg/v2.30.3/op_linux_${ARCH}_v2.30.3.zip" -O op.zip
        unzip -d op op.zip
        mv op/op "$binPath"
        rm -rf op.zip op
        chmod +x "$binPath/op"
    else
        echo "1Password CLI is already installed."
    fi
}

install_oh_my_zsh
install_gvm
install_terragrunt
install_sdkman
install_nvm
install_azure_cli
install_1password_cli

# =========================================================================================================
# https://docs.astronvim.com/
configure_neovim() {
    set -e

    if [ ! -d "$HOME/.config/nvim" ]; then
        git clone --depth 1 https://github.com/AstroNvim/template ~/.config/nvim
        rm -rf ~/.config/nvim/.git
        nvim
    else
        echo "'nvim' is already configured."
    fi
}

configure_neovim
# =========================================================================================================
