#!/data/data/com.termux/files/usr/bin/bash
set -euo pipefail

# define and prepare the .ssh folder
sshFolder="$HOME/.ssh"
mkdir -p "$sshFolder"
chmod 700 "$sshFolder"

# TODO: Try to find a way to use 1Password authentication to fetch SSH keys directly!

{{- $deviceName := default .chezmoi.hostname (env "CHEZMOI_DEVICE" | replaceAllRegex " " "-" | trim) | lower -}}

{{- range (onepassword "Active SSHs" "personal" "my").fields }}
  {{- if (eq .type "REFERENCE") }}

    {{- /* Read full “device@account” title */ -}}
    {{- $sshName := onepasswordRead (printf "op://Private/%s/title" .value) "my" | trim -}}

    {{- /* Split into [device, account] */ -}}
    {{- $parts := split "@" $sshName -}}
    {{- $device := index $parts "_0" -}}

    {{- /* Only emit hosts for the current device */ -}}
    {{- if eq $device $deviceName -}}

      {{- $sshPrivateKey := onepasswordRead (printf "op://Private/%s/private key" .value) "my" | trim }}
      {{- $sshPublicKey := onepasswordRead (printf "op://Private/%s/public key" .value) "my" | trim }}
      
      echo "Creating private key file: $sshFolder/{{ $sshName }} …"
      cat << 'EOF' > "$sshFolder/{{ $sshName }}"
{{ $sshPrivateKey }}
EOF
      chmod 600 "$sshFolder/{{ $sshName }}"
      
      echo "Creating public key file: $sshFolder/{{ $sshName }}.pub …"
      cat << 'EOF' > "$sshFolder/{{ $sshName }}.pub"
{{ $sshPublicKey }}
EOF
      chmod 644 "$sshFolder/{{ $sshName }}.pub"
    {{- end -}}
  {{- end -}}
{{- end }}
