#!/bin/sh
{{ if ne .chezmoi.os "windows" }}
chezmoiConfigDir="${HOME}/.config/chezmoi"
if [ ! -f "${chezmoiConfigDir}/key.txt" ]; then
    mkdir -p $chezmoiConfigDir
    op read "op://personal/Chezmoi Age Key/notes" | sed '1d;$d' > "${chezmoiConfigDir}/key.txt.age"
    chezmoi age decrypt --passphrase "${chezmoiConfigDir}/key.txt.age" --output "${chezmoiConfigDir}/key.txt"
    chmod 600 "${chezmoiConfigDir}/key.txt"
fi
{{ end }}
