#!/bin/sh
# TODO: how to avoid repetition with templates?
{{- $username := (trimPrefix (upper .chezmoi.hostname) .chezmoi.username) | replace "\\" "" }}
chezmoiConfigDir="{{ dir .chezmoi.configFile }}"
if [ ! -f "$chezmoiConfigDir/{{ $username }}" ]; then
    echo "Creating $chezmoiConfigDir/{{ $username }}"
    mkdir -p $chezmoiConfigDir
    op read "op://personal/{{ $username }}/private key" > "$chezmoiConfigDir/{{ $username }}"
    chmod 600 "$chezmoiConfigDir/{{ $username }}"
fi
