# define the path to the .ssh folder
$sshFolderPath = "$HOME\.ssh"

# ensure the .ssh folder exists
if (-Not (Test-Path -Path $sshFolderPath)) {
    New-Item -ItemType Directory -Path $sshFolderPath
}

{{- $deviceName := .deviceName -}}

{{- warnf "[windows-ssh-keys] fetching Device: %s..." $deviceName -}}
{{- $deviceNotes := "" -}}
{{- range (onepassword (printf "Device: %s" $deviceName) "personal" "my").fields -}}
  {{- if and (eq .label "notesPlain") (hasKey . "value") -}}
    {{- $deviceNotes = .value -}}
  {{- end -}}
{{- end -}}
{{- range splitList "\n" $deviceNotes }}
{{-      $entry := . | trim -}}
{{-      if ne $entry "" }}

{{-        $type := index (split ":" $entry) "_0" -}}
{{-        $name := trimPrefix (printf "%s:" $type) $entry -}}

{{-        if eq $type "ssh" }}
{{-        $item := onepassword $name "Private" "my" -}}
{{-        $sshName := $item.title | trim -}}
{{-        warnf "[windows-ssh-keys] creating public key for \"%s\"" $sshName -}}

# read the SSH public key from 1Password
$sshName = "{{ $sshName }}"
{{- $f := dict -}}
{{- range $item.fields -}}
  {{- if hasKey . "value" -}}
    {{- $_ := set $f .label .value -}}
  {{- end -}}
{{- end }}
$sshPublicKey = "{{ index $f "public key" }}"

# create the public key file
$publicKeyFilePath = "$sshFolderPath\$sshName.pub"
Write-Output "Creating public key file: `"$publicKeyFilePath`"..."
Set-Content -Path $publicKeyFilePath -Value $sshPublicKey -Force

{{-        end -}}
{{-      end -}}
{{- end }}
