{{- template "helpers.tmpl" . -}}

{{- define "ssh-entry-handler" -}}
{{- $sshPublicKey := onepasswordRead (printf "op://Private/%s/public key" .sshEntry.value) "my" | trim }}
echo "Creating public key file: $sshFolder/{{ .sshName }}.pub …"
cat << 'EOF' > "$sshFolder/{{ .sshName }}.pub"
{{ $sshPublicKey }}
EOF
chmod 600 "$sshFolder/{{ .sshName }}.pub"
{{- end -}}

#!/data/data/com.termux/files/usr/bin/bash
set -euo pipefail

# define and prepare the .ssh folder
sshFolder="$HOME/.ssh"
mkdir -p "$sshFolder"
chmod 700 "$sshFolder"

{{- template "helpers.sshEntries" . }}