#!/bin/bash

set -euo pipefail

# define the path to the ".gpg" folder
gpgFolderPath="$HOME/.gpg"

# ensure the ".gpg" folder exists
mkdir -p "$gpgFolderPath"

{{- $deviceName := .deviceName -}}

{{- warnf "[linux-gpg-keys] fetching Device: %s..." $deviceName -}}
{{- $deviceNotes := "" -}}
{{- range (onepassword (printf "Device: %s" $deviceName) "personal" "my").fields -}}
  {{- if and (eq .label "notesPlain") (hasKey . "value") -}}
    {{- $deviceNotes = .value -}}
  {{- end -}}
{{- end -}}
{{- range splitList "\n" $deviceNotes }}
{{-      $entry := . | trim -}}
{{-      if ne $entry "" }}
{{-        $type := index (split ":" $entry) "_0" -}}
{{-        $name := trimPrefix (printf "%s:" $type) $entry | trim -}}
{{-        if eq $type "gpg" }}

# read the GPG name and private key from 1Password
{{- $item := onepassword $name "Private" "my" -}}
{{- warnf "[linux-gpg-keys] importing GPG key \"%s\"" $item.title -}}
{{- $f := dict -}}
{{- range $item.fields -}}
  {{- if hasKey . "value" -}}
    {{- $_ := set $f .label .value -}}
  {{- end -}}
{{- end }}
{{- $gpgPassword := "" -}}
{{- if hasKey $f "password" -}}
  {{- $gpgPassword = trimAll "`" (index $f "password") -}}
{{- end -}}
{{- $gpgPrivateKey := onepasswordRead (printf "op://Private/%s/private.key" $item.id) "my" }}
gpgName="{{ $item.title }}"
gpgPassword="{{ $gpgPassword }}"
gpgPrivateKey="{{ trimAll "`" $gpgPrivateKey }}"

# create the private key file
privateKeyFilePath="$gpgFolderPath/$gpgName"
echo "[linux-gpg-keys] creating private key: \"$privateKeyFilePath\"" >&2
echo "$gpgPrivateKey" > "$privateKeyFilePath"

# import GPG keys into GPG keyring
gpg --batch --passphrase "$gpgPassword" --import "$privateKeyFilePath"

echo "[linux-gpg-keys] importing into GPG keyring..." >&2

{{-        end -}}
{{-      end -}}
{{- end }}

# cleanup the ".gpg" folder
rm -rf "$gpgFolderPath"
