#!/bin/bash

# define the path to the ".gpg" folder
gpgFolderPath="$HOME/.gpg"

# ensure the ".gpg" folder exists
mkdir -p $gpgFolderPath

{{- range (onepassword "Active GPGs" "personal" "my").fields }}
{{-      if (eq .type "REFERENCE") }}

# read the GPG name and private key from 1Password
gpgName="{{ onepasswordRead (printf "op://Private/%s/title" .value) "my" }}"
gpgPassword="{{ trimAll "`" (onepasswordRead (printf "op://Private/%s/password" .value) "my") }}"
gpgPrivateKey="{{ trimAll "`" (onepasswordRead (printf "op://Private/%s/private.key" .value) "my") }}"

# create the private key file
privateKeyFilePath="$gpgFolderPath/$gpgName"
echo "Creating private key file: \"$privateKeyFilePath\"..."
echo "$gpgPrivateKey" > "$privateKeyFilePath"

# import GPG keys into GPG keyring
gpg --batch --passphrase "$gpgPassword" --import "$privateKeyFilePath"

echo "Private key file has been created successfully."

{{-      end -}}
{{- end }}

# cleanup the ".gpg" folder
rm -rf $gpgFolderPath
