{{- template "helpers.tmpl" . -}}

{{- define "ssh-entry-handler" -}}

# read the SSH name and public key from 1Password
$sshName = "{{ .sshName }}"
$sshPublicKey = "{{ onepasswordRead (list "op://Private/" .sshEntry.value "/public key" | join "") "my" }}"

# create the public key file
$publicKeyFilePath = "$sshFolderPath\$sshName.pub"
Write-Output "Creating public key file: `"$publicKeyFilePath`"..."
Set-Content -Path $publicKeyFilePath -Value $sshPublicKey -Force

{{- end -}}

# define the path to the .ssh folder
$sshFolderPath = "$HOME\.ssh"

# ensure the .ssh folder exists
if (-Not (Test-Path -Path $sshFolderPath)) {
    New-Item -ItemType Directory -Path $sshFolderPath
}

{{- template "helpers.allSshEntries" . }}