# TODO: it's not possible to use 1password commands on this file, because it's linked with Windows .exe not installed on WSL
{{- if eq .chezmoi.os "linux" }}
onePassword:
  command: op.exe
{{- end }}
encryption: "age"
age:
  identity: "{{ .chezmoi.homeDir }}/.ssh/chezmoi"
data:
  onepassword:
    # 1Password account identifier (shorthand, subdomain, or email)
    # If not specified, will attempt to auto-detect the correct account
    account: "{{ env "ONEPASSWORD_ACCOUNT" | default "my" }}"
