encryption: "age"
age:
  identity: "{{ .chezmoi.homeDir }}/.ssh/chezmoi"
  recipient: "{{ onepasswordRead (list "op://personal/Chezmoi Key/public key" | join "") "my" }}"

git:
  autoAdd: true
  #autoCommit: true
  #autoPush: true
