# TODO: how to avoid repetition with templates?
{{ $username := (trimPrefix (upper .chezmoi.hostname) .chezmoi.username) | replace "\\" "" }}
encryption: "age"
age:
  identity: "~/.config/chezmoi/key.txt"
  recipient: "{{ onepasswordRead "op://personal/Chezmoi Age Key/public key" "my" }}"

git:
  autoAdd: true
  autoCommit: true
  #autoPush: true
