{{- /* TODO: when the Windows username is different than WSL username, the 1Password path is different breaking the commit signing */ -}}
{{- $deviceName := .deviceName -}}
{{- $username := (trimPrefix (upper .chezmoi.hostname) .chezmoi.username) | replace "\\" "" }}

{{- /* OS-dependent paths and executables */ -}}
{{- $windowsHome := printf "C:/Users/%s" $username -}}
{{- $defaultHome := .chezmoi.homeDir -}}

{{- $program := "op-ssh-sign" -}}
{{- $allowedSignersFile := printf "%s/.ssh/allowed_signers" $defaultHome -}}
{{- $excludesFile := printf "%s/.gitignore" $defaultHome -}}
{{- $sshCommand := "ssh" -}}

{{- if eq .chezmoi.os "windows" -}}
    {{- $program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe" -}}
    {{- $allowedSignersFile = printf "%s/.ssh/allowed_signers" $windowsHome -}}
    {{- $excludesFile = printf "%s/.gitignore" $windowsHome -}}
    {{- $sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe" -}}
{{- else if and (eq .chezmoi.os "linux") (contains "microsoft" (.chezmoi.kernel | toString)) -}}
    {{- $program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl" -}}
    {{- $allowedSignersFile = printf "/mnt/c/Users/%s/.ssh/allowed_signers" $username -}}
    {{- $sshCommand = "ssh.exe" -}}
{{- else if eq .chezmoi.os "android" -}}
    {{- $program = "ssh-keygen" -}}
    {{- $sshCommand = "ssh" -}}
{{- end -}}

{{- /* Fetch device credential list (cached by chezmoi) */ -}}
{{- warnf "[gitconfig] fetching Device: %s..." $deviceName -}}
{{- $deviceNotes := "" -}}
{{- range (onepassword (printf "Device: %s" $deviceName) "personal" "my").fields -}}
  {{- if and (eq .label "notesPlain") (hasKey . "value") -}}
    {{- $deviceNotes = .value -}}
  {{- end -}}
{{- end -}}

{{- /* Default user fields from first SSH entry */ -}}
{{- $defaultUsername := "" -}}
{{- $defaultUserEmail := "" -}}
{{- $defaultUserSigningkey := "" -}}
{{- range splitList "\n" $deviceNotes -}}
  {{- $entry := . | trim -}}
  {{- if ne $entry "" -}}
    {{- $type := index (split ":" $entry) "_0" -}}
    {{- $name := trimPrefix (printf "%s:" $type) $entry | trim -}}
    {{- if eq $type "ssh" -}}
      {{- warnf "[gitconfig] matched \"%s\" for SSH defaults" $name -}}
      {{- $item := onepassword $name "Private" "my" -}}
      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- if hasKey . "value" -}}
          {{- $_ := set $f .label .value -}}
        {{- end -}}
      {{- end -}}
      {{- $defaultUsername = index $f "ssh username" -}}
      {{- $defaultUserEmail = index $f "ssh email" -}}
      {{- $defaultUserSigningkey = index $f "public key" -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

[user]
    name = "{{ $defaultUsername }}"
    email = "{{ $defaultUserEmail }}"
    signingkey = "{{ $defaultUserSigningkey }}"
[gpg]
    format = ssh
[gpg "ssh"]
    program = "{{ $program }}"
    allowedSignersFile = "{{ $allowedSignersFile }}"
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true
[alias]
    pom = push origin main -u
    cim = "!f() { git commit -m \"$*\"; }; f"
    ci = commit
    co = checkout
    cm = checkout main
    cb = checkout -b
    st = status -sb
    sf = show --name-only
    lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
    incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
    outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
    unstage = reset HEAD --
    undo = checkout --
    rollback = reset --soft HEAD~1

    # gpg signing
{{- range splitList "\n" $deviceNotes -}}
  {{- $entry := . | trim -}}
  {{- if ne $entry "" -}}
    {{- $type := index (split ":" $entry) "_0" -}}
    {{- $name := trimPrefix (printf "%s:" $type) $entry | trim -}}
    {{- if eq $type "gpg" -}}
      {{- warnf "[gitconfig] matched \"%s\" for GPG alias" $name -}}
      {{- $item := onepassword $name "Private" "my" -}}
      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- if hasKey . "value" -}}
          {{- $_ := set $f .label .value -}}
        {{- end -}}
      {{- end -}}
      {{- $gpgAlias := index $f "gpg alias" -}}
      {{- $gpgUsername := index $f "gpg username" -}}
      {{- $gpgEmail := index $f "gpg email" -}}
      {{- $gpgFingerprint := index $f "fingerprint" }}
    gpg{{ $gpgAlias }} = !(git config user.name '{{ $gpgUsername }}' && git config user.email '{{ $gpgEmail }}' && git config --replace-all user.signingkey {{ $gpgFingerprint }} && git config gpg.format openpgp)
    {{- end -}}
  {{- end -}}
{{- end }}

    # ssh signing
{{- range splitList "\n" $deviceNotes -}}
  {{- $entry := . | trim -}}
  {{- if ne $entry "" -}}
    {{- $type := index (split ":" $entry) "_0" -}}
    {{- $name := trimPrefix (printf "%s:" $type) $entry | trim -}}
    {{- if eq $type "ssh" -}}
      {{- warnf "[gitconfig] matched \"%s\" for SSH alias" $name -}}
      {{- $item := onepassword $name "Private" "my" -}}
      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- if hasKey . "value" -}}
          {{- $_ := set $f .label .value -}}
        {{- end -}}
      {{- end -}}
      {{- $sshAlias := index $f "ssh alias" -}}
      {{- $sshUsername := index $f "ssh username" -}}
      {{- $sshEmail := index $f "ssh email" -}}
      {{- $sshPublicKey := index $f "public key" }}
    ssh{{ $sshAlias }} = !(git config user.name '{{ $sshUsername }}' && git config user.email '{{ $sshEmail }}' && git config --replace-all user.signingkey '{{ $sshPublicKey }}' && git config gpg.format ssh)
    {{- end -}}
  {{- end -}}
{{- end }}
[core]
    autocrlf = input
    editor = vim
    excludesfile = "{{ $excludesFile }}"
    sshCommand = "{{ $sshCommand }}"
{{- if eq .chezmoi.os "linux" }}
    hooksPath = "{{ .chezmoi.homeDir }}/.local/share/ggshield/git-hooks"
{{- end }}
[merge]
    commit = yes
    ff = yes
[push]
    autoSetupRemote = true

# [includeIf 'gitdir:~/work/acme/']
#   path = ~/work/acme/.gitconfig
