{{- /* TODO: how to avoid repetition with templates? */ -}}
{{- /* TODO: when the Windows username is different than WSL username, the 1Password path is different breaking the commit signing */ -}}

{{- /* Helper: Get 1Password device fields for current device */ -}}
{{- $deviceName := (default .chezmoi.hostname (env "CHEZMOI_DEVICE" | replaceAllRegex " " "-" | trim) | lower) -}}
{{- $username := (trimPrefix (upper .chezmoi.hostname) .chezmoi.username) | replace "\\" "" }}

{{- /* OS-dependent paths and executables */ -}}
{{- $windowsHome := printf "C:/Users/%s" $username -}}
{{- $defaultHome := .chezmoi.homeDir -}}

{{- $program := "op-ssh-sign" -}}
{{- $allowedSignersFile := printf "%s/.ssh/allowed_signers" $defaultHome -}}
{{- $excludesfile := printf "%s/.gitignore" $defaultHome -}}
{{- $sshCommand := "ssh" -}}

{{- if eq .chezmoi.os "windows" -}}
    {{- $program = printf "%s/AppData/Local/1Password/app/8/op-ssh-sign.exe" $windowsHome -}}
    {{- $allowedSignersFile = printf "%s/.ssh/allowed_signers" $windowsHome -}}
    {{- $excludesfile = printf "%s/.gitignore" $windowsHome -}}
    {{- $sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe" -}}
{{- else if and (eq .chezmoi.os "linux") (contains .chezmoi.kernel "microsoft") -}}
    {{- $program = printf "/mnt/c/Users/%s/AppData/Local/1Password/app/8/op-ssh-sign-wsl" $username -}}
    {{- $sshCommand = "ssh.exe" -}}
{{- else if eq .chezmoi.os "android" -}}
    {{- $program = "op-ssh-sign" -}}
    {{- $sshCommand = "ssh" -}}
{{- end }}

{{- /* Default user fields from 1Password Active SSHs */ -}}
{{- $defaultUsername := "" -}}
{{- $defaultUserEmail := "" -}}
{{- $defaultUserSigningkey := "" -}}
{{- range (onepassword "Active SSHs" "personal" "my").fields -}}
  {{- if eq .type "REFERENCE" -}}
    {{- $sshName := onepasswordRead (printf "op://Private/%s/title" .value) "my" | trim -}}
    {{- $parts := split "@" $sshName -}}
    {{- $device := index $parts "_0" -}}
    {{- if eq $device $deviceName -}}
      {{- $defaultUsername = onepasswordRead (printf "op://Private/%s/ssh username" .value) "my" -}}
      {{- $defaultUserEmail = onepasswordRead (printf "op://Private/%s/ssh email" .value) "my" -}}
      {{- $defaultUserSigningkey = onepasswordRead (printf "op://Private/%s/public key" .value) "my" -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
{{- end }}

[user]
    name = "{{ $defaultUsername }}"
    email = "{{ $defaultUserEmail }}"
    signingkey = "{{ $defaultUserSigningkey }}"

[gpg]
    format = ssh

[gpg "ssh"]
    program = "{{ $program }}"
    allowedSignersFile = "{{ $allowedSignersFile }}"

[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true

[alias]
    pom = push origin main -u
    cim = "!f() { git commit -m \"$*\"; }; f"
    ci = commit
    co = checkout
    cm = checkout main
    cb = checkout -b
    st = status -sb
    sf = show --name-only
    lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count=30
    incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
    outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
    unstage = reset HEAD --
    undo = checkout --
    rollback = reset --soft HEAD~1

    # gpg signing
{{- range (onepassword "Active GPGs" "personal" "my").fields -}}
  {{- if eq .type "REFERENCE" -}}
    {{- $gpgName := onepasswordRead (printf "op://Private/%s/title" .value) "my" | trim -}}
    {{- $parts := split "@" $gpgName -}}
    {{- $device := index $parts "_0" -}}
    {{- if eq $device $deviceName -}}
      {{- $gpgAlias := onepasswordRead (printf "op://Private/%s/gpg alias" .value) "my" -}}
      {{- $gpgUsername := onepasswordRead (printf "op://Private/%s/gpg username" .value) "my" -}}
      {{- $gpgEmail := onepasswordRead (printf "op://Private/%s/gpg email" .value) "my" -}}
      {{- $gpgFingerprint := onepasswordRead (printf "op://Private/%s/fingerprint" .value) "my" -}}
      gpg{{ $gpgAlias }} = !(git config user.name '{{ $gpgUsername }}' && git config user.email '{{ $gpgEmail }}' && git config --replace-all user.signingkey {{ $gpgFingerprint }} && git config gpg.format openpgp)
    {{- end -}}
  {{- end -}}
{{- end }}

    # ssh signing
{{- range (onepassword "Active SSHs" "personal" "my").fields -}}
  {{- if eq .type "REFERENCE" -}}
    {{- $sshName := onepasswordRead (printf "op://Private/%s/title" .value) "my" | trim -}}
    {{- $parts := split "@" $sshName -}}
    {{- $device := index $parts "_0" -}}
    {{- if eq $device $deviceName -}}
      {{- $sshAlias := onepasswordRead (printf "op://Private/%s/ssh alias" .value) "my" -}}
      {{- $sshUsername := onepasswordRead (printf "op://Private/%s/ssh username" .value) "my" -}}
      {{- $sshEmail := onepasswordRead (printf "op://Private/%s/ssh email" .value) "my" -}}
      {{- $sshPublicKey := onepasswordRead (printf "op://Private/%s/public key" .value) "my" }}
      ssh{{ $sshAlias }} = !(git config user.name '{{ $sshUsername }}' && git config user.email '{{ $sshEmail }}' && git config --replace-all user.signingkey '{{ $sshPublicKey }}' && git config gpg.format ssh)
    {{- end -}}
  {{- end -}}
{{- end }}

[core]
    autocrlf = input
    editor = vim
    excludesfile = "{{ $excludesfile }}"
    sshCommand = "{{ $sshCommand }}"

[merge]
    commit = yes
    ff = yes
[push]
    autoSetupRemote = true

# [includeIf 'gitdir:~/work/acme/']
#   path = ~/work/acme/.gitconfig