[settings]
api_key = {{ onepasswordRead "op://personal/Wakatime/api key" "my" }}
hide_project_folder = true
hide_file_names = true
hide_branch_names = true
hide_project_names = 
{{ onepasswordRead "op://personal/Wakatime/hidden projects" "my" }}
