{{- $deviceName := .deviceName -}}

{{- warnf “[allowed-signers] fetching Active SSHs...\n” -}}
{{- range (onepassword “Active SSHs” “personal” “my”).fields -}}
  {{- if (eq .type “REFERENCE”) -}}

    {{- $item := onepassword .value “Private” “my” -}}
    {{- warnf “[allowed-signers] checking SSH item \”%s\”...\n” $item.title -}}

    {{- /* Split title into [device, account] */ -}}
    {{- $parts := split “@” $item.title -}}
    {{- $device := index $parts “_0” -}}

    {{- /* Only emit hosts for the current device */ -}}
    {{- if eq $device $deviceName -}}
      {{- warnf “[allowed-signers] matched device \”%s\”\n” $deviceName -}}

      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- $_ := set $f .label .value -}}
      {{- end -}}
      {{- printf “%s %s\n” (index $f “ssh email”) (index $f “public key”) -}}

    {{- end -}}
  {{- end -}}
{{- end }}
