{{- $deviceName := .deviceName -}}

{{- warnf "[allowed-signers] fetching Active SSHs..." -}}
{{- $sshNotes := "" -}}
{{- range (onepassword "Active SSHs" "personal" "my").fields -}}
  {{- if and (eq .label "notesPlain") (hasKey . "value") -}}
    {{- $sshNotes = .value -}}
  {{- end -}}
{{- end -}}
{{- range splitList "\n" $sshNotes -}}
  {{- $title := . | trim -}}
  {{- if ne $title "" -}}
    {{- $parts := split "@" $title -}}
    {{- $device := index $parts "_0" -}}
    {{- if eq $device $deviceName -}}
      {{- warnf "[allowed-signers] matched \"%s\"" $title -}}
      {{- $item := onepassword $title "Private" "my" -}}
      {{- $f := dict -}}
      {{- range $item.fields -}}
        {{- if hasKey . "value" -}}
          {{- $_ := set $f .label .value -}}
        {{- end -}}
      {{- end -}}
      {{- printf "%s %s\n" (index $f "ssh email") (index $f "public key") -}}
    {{- end -}}
  {{- end -}}
{{- end }}
