{{- $opCache := include "onepassword-cache.tmpl" . | fromJson -}}
{{- $deviceName := default .chezmoi.hostname (env "CHEZMOI_DEVICE" | replaceAllRegex " " "-" | trim) | lower -}}

{{- range $opCache.activeSSHs.fields -}}
  {{- if (eq .type "REFERENCE") -}}

    {{- /* Read full “device@account” title */ -}}
    {{- $sshName := onepasswordRead (list "op://Private/" .value "/title" | join "") "my" | trim -}}

    {{- /* Split into [device, account] */ -}}
    {{- $parts := split "@" $sshName -}}
    {{- $device := index $parts "_0" -}}

    {{- /* Only emit hosts for the current device */ -}}
    {{- if eq $device $deviceName -}}

      {{- $sshPublicKey := onepasswordRead (list "op://Private/" .value "/public key" | join "") "my" -}}
      {{ $sshPublicKey }}

    {{- end -}}
  {{- end -}}
{{- end }}
