{{ template "helpers" . }}

{{- define "ssh-entry-handler" -}}
{{- $sshAlias := onepasswordRead (list "op://Private/" .sshEntry.value "/ssh alias" | join "") "my" | trim }}

Host github.com-{{ $sshAlias }}
  HostName github.com
  IdentityFile ~/.ssh/{{ .sshName }}.pub
  IdentitiesOnly yes

Host gitlab.com-{{ $sshAlias }}
  HostName gitlab.com
  IdentityFile ~/.ssh/{{ .sshName }}.pub
  IdentitiesOnly yes

# Azure DevOps
Host dev.azure.com-{{ $sshAlias }}
  HostName ssh.dev.azure.com
  IdentityFile ~/.ssh/{{ .sshName }}.pub
  IdentitiesOnly yes

Host visualstudio.com-{{ $sshAlias }}
  HostName vs-ssh.visualstudio.com
  IdentityFile ~/.ssh/{{ .sshName }}.pub
  IdentitiesOnly yes

# Atlassian
Host bitbucket.org-{{ $sshAlias }}
  HostName bitbucket.org
  IdentityFile ~/.ssh/{{ .sshName }}.pub
  IdentitiesOnly yes

{{- end -}}

{{- define "pem-entry-handler" -}}
{{- $alias := onepasswordRead (list "op://Private/" .pemEntry.value "/pem host alias" | join "") "my" | trim -}}
{{- $host := onepasswordRead (list "op://Private/" .pemEntry.value "/pem host" | join "") "my" | trim -}}
{{- $user := onepasswordRead (list "op://Private/" .pemEntry.value "/pem user" | join "") "my" | trim }}

Host {{ $alias }}
  HostName {{ $host }}
  User {{ $user }}
  IdentityFile ~/.ssh/{{ .pemName }}.pem
  IdentitiesOnly yes

{{- end -}}

###### VCS #######################################################################
{{- template "helpers.sshEntries" . }}

###### PEM #######################################################################
{{- template "helpers.pemEntries" . }}