{{- /* 
TODO: The IdentityFile logic is inverted on Android (uses private key), all other OSes use public key.
This is because on Android (Termux) only private keys are usable, while other platforms require public keys for SSH config.
*/ -}}

###### VCS #######################################################################
{{- template "op-ssh-config-hosts" . }}
###### PEM #######################################################################
{{- template "op-pem-config-hosts" . }}
