{{/*
  Centralized 1Password lookups to avoid redundant CLI calls.
  This template should be included at the top of other templates to cache
  commonly used 1Password data.
*/}}

{{/* Cache Active SSHs data */}}
{{- $activeSSHs := onepassword "Active SSHs" "personal" "my" -}}

{{/* Cache Active GPGs data */}}
{{- $activeGPGs := onepassword "Active GPGs" "personal" "my" -}}

{{/* Cache Active Docker Registries data */}}
{{- $activeDockerRegistries := onepassword "Active Docker Registries" "personal" "my" -}}

{{/* Cache Active PEMs data */}}
{{- $activePEMs := onepassword "Active PEMs" "personal" "my" -}}

{{/* Make cached data available globally by storing in a dict and converting to JSON */}}
{{- $opCache := dict 
    "activeSSHs" $activeSSHs
    "activeGPGs" $activeGPGs 
    "activeDockerRegistries" $activeDockerRegistries
    "activePEMs" $activePEMs
-}}

{{/* Return the cache dict as JSON */}}
{{ $opCache | toJson }}