{{- if ne .chezmoi.os "android" }}
{{- trimAll "`" (onepasswordRead "op://personal/Active Shell Credentials/notes" "my") }}

{{- trimAll "`" (onepasswordRead "op://personal/Active Workspaces/notes" "my") -}}
{{- end }}
