{
  "auths": {
    {{- $items := (onepassword "Active Docker Registries" "personal" "my").fields }}
    {{- $lastIndex := sub (len $items) 1 }}
    {{- range $index, $item := $items }}
    {{-      if (eq $item.type "REFERENCE") }}
	{{-          $registryUsername := onepasswordRead (printf "op://Private/%s/username" $item.value) "my" }}
    {{-          $registryCredential := onepasswordRead (printf "op://Private/%s/credential" $item.value) "my" }}
	{{-          $registryName := onepasswordRead (printf "op://Private/%s/registry name" $item.value) "my" }}
    "{{ $registryName }}": {
      "auth": "{{ b64enc (list $registryUsername ":" $registryCredential | join "") }}"
    }{{ if lt $index $lastIndex }},{{ end }}
	{{-      end }}
    {{- end }}
  }
}
